body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: #d4a017;
    color: white;
    padding: 15px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #b58900;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.panier {
    margin-left: auto; /* Aligne le panier à droite */
    margin-right: 20px;
    display: inline-block;
}

.icon-panier {
    width: 20px; /* Ajuste la taille pour correspondre au texte */
    height: 20px;
    filter: invert(100%); /* Rend l'icône blanche */
    vertical-align: middle; /* Aligne avec le texte */
}

.connexion {
    margin-left: auto; /* Aligne le panier à droite */
    margin-right: 20px;
    display: inline-block;
}

.icon-connexion {
    width: 20px; /* Ajuste la taille pour correspondre au texte */
    height: 20px;
    filter: invert(100%); /* Rend l'icône blanche */
    vertical-align: middle; /* Aligne avec le texte */
}

section {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    color: #b58900;
    border-bottom: 2px solid #d4a017;
    padding-bottom: 5px;
}

img {
    width: 200px;
    margin: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #b58900;
    color: white;
    margin-top: 20px;
}

.carousel {
    max-width: 600px; /* Ajuste la largeur du carrousel */
    margin: 0 auto; /* Centre le carrousel */
}

.carousel img {
    height: 300px; /* Ajuste la hauteur des images */
    object-fit: cover; /* Coupe l'image pour remplir la zone définie */
}

.carousel-control-next{
    background: #fff;
    background-color: #d4a017;
    color: white;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    border-radius: 4px;
    display: inline-block;
}

.carousel-control-prev{
    background: #fff;
    background-color: #d4a017;
    color: white;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    border-radius: 4px;
    display: inline-block;
}

.half-beer {
    position: fixed;
    bottom: 0;
    right: 0%;
    width: 15%; /* Adjust size as needed */
    height: auto;
}

.full-beer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 15%; /* Adjust size as needed */
    height: auto;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 15; /* Ensure .mousse is always in front */
}

.beer-tape {
    position: absolute;
    top: 0;
    right: -0.6%;
    width: 15%; /* Adjust size as needed */
    height: auto;
}

.beer-container {
    position: absolute;
    top: 28.5%;
    right: 3%;
    width: 10%;
    flex: 1;
    height: 100%;
    overflow: hidden; /* Prevents scrolling */
    z-index: 11;
}

.beer {
    width: 100%;
    clip-path: inset(0 0 92% 0); /* Keeps the intended effect */
    transition: clip-path 0.1s linear;
}

.mousse {
    position: fixed;
    top: 20%;
    right: 2%;
    width: 10%; /* Adjust size as needed */
    height: auto;
    z-index: 10; /* Ensure .mousse is always in front */
}

/******************/
/* Partie CONTACT */
/******************/
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

form div {
    margin-bottom: 15px;
}

textarea {
    height: 80px;
    padding: 8px;
    margin-top: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
}

/**********************************/
/* Style de "table" */
/**********************************/

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed; /* Needed for colgroup widths to apply */
}

table, th, td {
    border: 1px solid #b58900;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #d4a017;
    color: white;
}

/* Fix header layout for "Quantité" and "Ajouter" */
.double-header {
    display: flex;
    justify-content: space-around;
    gap: 25%
}

/* Ensure the form takes full width within the cell */
td:nth-child(3) { /* Target only the "Quantity" column */
    width: 50%;
}

.buy_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px; /* Ensures consistent spacing */
    width: 100%; /* Ensures form takes full cell width */
}

.buy_form input[type="number"] {
    width: 50px; /* Adjust input size for better spacing */
    text-align: center;
}

/**********************************/
/* Style du bouton "Add" */
/**********************************/

.add_shopping_cart_button {
    height: 2.5em;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    align-items: center;
    justify-content: center;
    background-color: #d4a017;
    color: white;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    position: relative;
    transition: all 0.3s;
    border-radius: 4px;
}

.add_shopping_cart_button span {
    display: inline-block;
    transform: skew(21deg);
}

.add_shopping_cart_button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.add_shopping_cart_button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

/* Effet au survol */
.add_shopping_cart_button:hover {
    background: black;
    background-color: #b58900;
    color: white;
}

/**********************************/
/* Ajustement des boutons paniers */
/**********************************/
.btn-ajout {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn-ajout:hover {
    transform: rotate(90deg);
}

/* Style du champ quantité */
input[type="number"] {
    width: 50px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact_submit_button {
    height: 2.5em;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
    align-items: center;
    justify-content: center;
    background: #fff;
    background-color: #d4a017;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    width: 100%;
    font-style: normal; /* Ensure text is not italic */
}

.contact_submit_button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
    border-radius: 4px;
}

.contact_submit_button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

.contact_submit_button span {
    display: inline-block;
}

/* Effet au survol */
.contact_submit_button:hover {
    background: black;
    background-color: #b58900;
    color: white;
    border-radius: 4px;
}

header h2 {
    color: white;
}